@use "@angular/material" as mat;
@use "./themes.scss" as themes;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color-scheme: light;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

  &.dark {
    color-scheme: dark;
  }

  // // Custom theme implemtation
  // &.default {
  //   @include mat.all-component-themes(themes.$light-theme);
  //   @include mat.system-level-colors(themes.$light-theme);

  //   &.dark {
  //     @include mat.all-component-colors(themes.$dark-theme);
  //     @include mat.system-level-colors(themes.$dark-theme);
  //   }
  // }

  // TODO fix, spunojn disa nga ngyrat, plus ka warning per kto
  @each $name,
    $palette
      in (
        azure: mat.$azure-palette,
        red: mat.$red-palette,
        green: mat.$green-palette,
        blue: mat.$blue-palette,
        yellow: mat.$yellow-palette,
        cyan: mat.$cyan-palette,
        magenta: mat.$magenta-palette,
        orange: mat.$orange-palette,
        chartreuse: mat.$chartreuse-palette,
        spring-green: mat.$spring-green-palette,
        violet: mat.$violet-palette,
        rose: mat.$rose-palette
      )
  {
    &.#{$name} {
      @include themes.themed-palette($palette);
    }
  }
}

.snackbar-error {
  @include mat.snack-bar-overrides(
    (
      container-color: var(--mat-sys-error-container),
      supporting-text-color: var(--mat-sys-on-error-container),
      button-color: var(--mat-sys-on-error-container),
    )
  );
}

.spacer {
  flex: 1 1 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.dialog-close-button {
  margin-top: -0.5rem;
}

.tertiary-color {
  color: var(--mat-sys-tertiary);
}
