@use '@angular/material' as mat;
@use '../theme-colors' as theme;

html,
body {
  height: 100%;
}

html {
  color-scheme: light;
  @include mat.all-component-themes(theme.$light-theme);
  // @include mat.theme(theme.$light-theme);

}

body.dark-mode {
  color-scheme: dark;
}

body {
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.snackbar-error {
  .mdc-snackbar__surface {
    background: #922b21 !important;
  }

  .mdc-button__label {
    color: white;
  }
}

.spacer {
  flex: 1 1 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.dialog-close-button {
  margin-top: -0.5rem;
}