@use "@angular/material" as mat;
@use "../theme-colors" as theme;

html,
body {
  height: 100%;
}

html {
  @include mat.all-component-themes(theme.$light-theme);
  @include mat.system-level-colors(theme.$light-theme);
  // @include mat.theme(theme.$light-theme);
}

body.dark {
  @include mat.all-component-colors(theme.$dark-theme);
  @include mat.system-level-colors(theme.$dark-theme);
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.snackbar-error {
  @include mat.snack-bar-overrides(
    (
      container-color: var(--mat-sys-error-container),
      supporting-text-color: var(--mat-sys-on-error-container),
      button-color: var(--mat-sys-on-error-container),
    )
  );
}

.spacer {
  flex: 1 1 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.dialog-close-button {
  margin-top: -0.5rem;
}
